{% extends 'base/base.html' %}
{% load django_bootstrap5 %}

{% block header %}
    <div class="container-fluid bg-primary">
        <div class="container py-5 text-light">
            <h3>{{ action }} post</h3>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="container pt-3">
        <div class="py-4">
            <form action="" method="post" enctype="multipart/form-data" id="post-form">
                <div>
                </div>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="OK" %}
                <div class="spinner-border d-none" id="form-spinner" role="status">
                    <span class="sr-only"></span>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Hides the text box of the "location" (map) field
        // For aesthetic purposes, no sensitive data here
        $("document").ready(function() {
            $("#id_location").hide();
        });

        // After user clicks "OK", hide the button and replace with loading icon
        // If user clicks twice, 2 requests will be sent to the server
        // This is a temporary solution
        $("#post-form").on("submit", function() {
            $("#post-form > button[type=submit]").hide();
            $("#form-spinner").removeClass("d-none");
        });
    </script>
{% endblock content %}

