{% extends 'base/base.html' %}
{% load static %}

{% block header %}
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <div class="container-fluid">
        <a href="{{ post.img_url }}">
            <div class="hero">
                <img src="{{ post.img_url }}" class="flex-1 hero-img"/>
                <div class="hero-text">
                    <h2>{{ post.title }}</h2>
    
                    <h4>{{ post.place_name }}</h4>
    
                    <div>{{ post.date_created }}</div>
    
                    <span class="d-none" id="post-location">{{ post.location }}</span>
                </div>
            </div>
        </a>
    </div>
{% endblock header %}

{% block content %}
    <!--POST OPTIONS-->
    <div class="container pt-4">
        <div class="pb-3">
            <div class="dropdown">
                <a class="text-decoration-none dropdown-toggle" role="button" data-bs-toggle="dropdown">
                  Post options
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{{ post.img_url }}">View full-size image</a></li>
                  <li><a class="dropdown-item" href="{% url 'app:post_edit' post.id %}">Edit</a></li>
                  <li>
                    <a role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#postDeleteModal">
                        Delete
                    </a>
                  </li>
                </ul>
              </div>
        </div>
        
        <!--POST CONTENT-->
        <div class="row">
            <!--POST MAIN CONTENT-->
            <div class="col-md-8">
                <p class="text-justify">{{ post.content }}</p>
            </div>

            <!--POST MAP-->
            <div class="col-md-4">
                <div>
                    <div id="leaflet-container"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL FOR CONFIRM DELETE -->
    <div class="modal fade" id="postDeleteModal" tabindex="-1" aria-labelledby="postDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="postDeleteModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Do you want to delete this post? This action cannot be undone.
            </div>
            <div class="modal-footer">
              <div class="modal-footer-control">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" id="btn-delete" href="{% url 'app:post_delete' post.id %}" role="button" class="btn btn-danger">Delete this post</a>
              </div>

              <div class="spinner-border d-none" id="delete-spinner" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <script>
        // Get location data from form
        let locationStr = $('#post-location').text();
        let [lat, lon] = locationStr.split(',');
        
        let mapOptions = {
            center: [lat, lon],
            zoom: 15,
        }

        // Create new map and add marker
        let map = new L.map('leaflet-container', mapOptions);
        let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        
        map.addLayer(layer);
        let marker = L.marker([lat, lon]).addTo(map);

        
        // Hides the delete button after user clicks delete
        // If user clicks twice, 2 requests will be sent to the server
        // Causes no damage, but client will show error 404 (because the post was deleted before)
        // This is a temporary solution
        $("#btn-delete").on("click", function() {
          $(".modal-footer-control").hide();
          $("#delete-spinner").removeClass("d-none");
        });
    </script>
{% endblock content %}