{% extends 'base/base.html' %}
{% load custom_tags %}
{% load static %}

{% block header %}
    <div class="container-fluid">
        <div class="hero">
            <img src="https://picsum.photos/1000/300?blur=5" class="flex-1 hero-img"/>
            <div class="hero-text">
                <div class="h2">
                    {{ current_user.first_name }} {{ current_user.last_name }}'s memorable places
                </div>

                <div class="mx-3 my-4">
                    <div id="quote-content">
                    </div>

                    <div id="quote-author">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="container py-4 h-100 w-100 d-flex flex-column justify-content-start align-items-center">
        {% if page_obj|length > 0 %}
            <div class="grid-container">
                {% for post in page_obj %}
                    <div class="grid-item">
                        <div class="card">
                            <img src="{{ post.img_url }}" class="card-img-top crop-img" alt="">
                            <div class="card-body">
                            <p>
                                <a class="h5 text-decoration-none card-title" href="{% url 'app:post_view' post.id %}">{{ post.title | content_shorten:25 }}</a>
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted ">{{ post.place_name | content_shorten:30 }}</h6>
                            <p class="card-text">{{ post.content | content_shorten:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="py-3 d-flex justify-content-center">
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page=1">&laquo; first</a>
                            {% endif %}
                        </li>
    
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                        </li>
        
                        <li class="page-item current active">
                            <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                        </li>
                        
                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </li>
    
                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        {% else %}
            <div class="flex-1">
                <p>You have no memories yet. Let's get started by <a href="{% url 'app:post_create' %}">adding one</a>!</p>
            </div>
        {% endif %}
    </div>

    <script src="{% static 'js/quote.js' %}"></script>
{% endblock content %}