{% extends 'base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container-fluid bg-primary">
        <div class="container py-5 text-light">
            <h3>{{ action }} post</h3>
        </div>
    </div>
    {% include 'base/errors.html' %}
    <div class="container pt-3">
        <div class="py-4">
            <form action="" method="post" enctype="multipart/form-data">
                <div>
                </div>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="OK" %}
            </form>
        </div>
    </div>

    <script>
        $("document").ready(function() {
            $("#id_location").hide();
        });
    </script>
{% endblock content %}

